
<h1>Registro de usuarios</h1>
<div>

<form>
  <label for="cedula">Cédula:</label>
  <input type="text" name="est_cedula" id="cedula" required>
  <br>
  <label for="nombre">Nombre:</label>
  <input type="text" name="est_nombre" id="nombre"   required>
  <br>
  <label for="apellido">Apellido:</label>
  <input type="text" name="est_apellido" id="apellido" required>
  <br>
  <label for="telefono">Teléfono:</label>
  <input type="text" name="est_telefono" id="telefono"  required>
  <br>
  <label for="direccion">Dirección:</label>
  <input type="text" name="est_direccion" id="direccion" required>
  <br>
  <button  type="submit">Guardar</button> <!-- Botón para guardar el nuevo estudiante -->
  <button type="submit">Editar</button>
</form>
  
</div>
<p>registro works!</p>
